* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background: #4d4d4d;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #00a2ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 1rem;
  z-index: 5;
}

.main-navigation__title {
  color: white;
}

main {
  margin-top: 5rem;
}

@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }
}

.post-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00a2ff;
  border-radius: 4px;
  background: #00a2ff;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button-submit {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00f8e3;
  border-radius: 4px;
  background: #00f8e3;
  color: black;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}
